body {
    background-color: #5d737e;
}

header,
main {
    display: flex;
    justify-content: center;
}

header {
    color: #FFF07C;
}


main {
    color: #F0F7EE;
    flex-direction: column;
    align-items: center;
}
.container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.board{
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.board div{
    border: 5px black solid;
    background-color: lightgray;
}

.board div:hover{
    background-color: gray;
}

